/* #baksa{
    height: 300px;
    width: 300px;
    border: 1px solid black;
} */

/* #bada-box{
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

#chota-box{
    height: 50%;
    width: 50%;
    border: 1px solid pink;
} */

/* li{
    font-size: 2em;
} */

/* #div{
    font-size: 2rem;
} */

#xyz{
    height: 50vh;
    width: 50vw;
    border: 1px solid black;
}