.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#special{
    border: 5px solid purple;
    grid-column-start: 2;
}